TR_PUBAGENT_API_URL=http://127.0.0.1:8000
TR_PUBAGENT_WEB_URL=http://127.0.0.1:3000
TR_PUBAGENT_DB=/data/tr_pubagent.db
TR_PUBAGENT_MODEL_MODE=scripted
TR_PUBAGENT_MODEL_ID=microsoft/Phi-4-mini-instruct
TR_PUBAGENT_MAX_STEPS=20
TR_PUBAGENT_SEED=0
